@import url('https://fonts.googleapis.com/css?family=Exo:100,400,500');


* {
  font-family: 'Exo', sans-serif;
  margin:0;
  padding:0;
}

header {
  background-image: url("../images/top_banner.jpg");
  background-size: cover;
  height:815px;
  position: relative;
}

#controller {
  width:500px;
  margin:0 auto;
  height:500px;
  color: #ffffff;
  text-align: center;
  padding:330px 0 0 0;
}

#controller h1 {
  font-size: 52px;
  font-weight: 100;
}

.fa.fa-play-circle {
  color:#ffffff;
  font-size: 56px;
  float:left;
  clear: both;
  margin-left:232px;
  padding: 10px 0;
}

a#banner_botton {
  padding:8px 15px;
  background-color: #009b0d;
  border-radius: 3px;
  color:#ffffff;
  font-size: 16px;
  font-weight: 100;
  float:left;
  clear: both;
  margin-left:215px;
  margin-bottom: 10px;
}

span#banner_botton_text {
  font-size: 14px;
  font-weight: 100;
  float:left;
  clear: both;
  margin-left:185px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #151515;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #fff;
    color: #009b0d;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

section#left {
  float:left;
  width:60%;
}

section article {
  padding:90px 80px;
}

section h1 {
  color:#009b0d;
  font-size: 16px;
}

section h2 {
  font-size:40px;
  padding-bottom: 50px;
}

section p {
  font-weight: 100;
}

section#right {
  float:right;
  width:40%;
  background-color: black;
  height: 725px;
  background-image: url("../images/kirk_picard.png");
  background-repeat: no-repeat;
}
iframe {
  min-width: 100%;
  max-width: 100%;
  margin-top: 10px;
}

/* Mobile Phones Portrait + Landscape */
@media screen and (max-device-width: 480px) and (orientation: portrait),
       screen and (max-device-width: 740) and (orientation: landscape),
       screen and (max-width:740px)
{

  * {
    font-family: 'Exo', sans-serif;
    margin:0;
    padding:0;
    color: #fff;

  }
  p {
    color: #fff;
  }
  body {
    background-color: #000;
  }
  header{
    height:470px;
  }
  nav {
    position: fixed;
    width: 100%;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
    .topnav a.icon {
    display: block;
    float: right;
  }
    .topnav.responsive {
    position: fixed;
  }
    .topnav.responsive a.icon {
    right: 0;
    top: 0;
    position: fixed;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #controller {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 225px 0 0 0;
  }

  .fa.fa-play-circle {
    color:#ffffff;
    font-size: 56px;
    float: left;
    clear: both;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
  }

  a#banner_botton {
    padding:;
    background-color: ;
    border-radius: ;
    color:#ffffff;
    font-size: ;
    font-weight: 100;
    float:left;
    clear: both;
    margin: 0 auto 7px;
    width: 170px;
  }

  #top_centering {
    margin: 0 auto;
    width: 200px;
  }

  span#banner_botton_text {
    font-size: 14px;
    font-weight: 100;
    float: left;
    clear: both;
    margin: 0 auto;
    width: 100%;
  }

  #controller h1 {
    font-size: 36px;
    font-weight: 100px;
    width: 100%;
    margin: 0 auto;
  }

  section article {
    background-color: #000;
    padding: 30px 0 0 0;
  }

  section#left {
    width: 90%;
    float: none;
    margin: 0 auto;
  }

  section#right {
    float:none;
    width: 100%;
    background-color: black;
    height: 725px;
    background-image: url("../images/kirk_picard.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  iframe {
    min-height: 200px;
    height: auto;
    width: 100%;
    min-width: 100%;
    max-width: 400px;
    margin-top: 10px;
    background-size: cover;
  }
}
